.body{
  background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
}
.pop-up-drop { 
  position: fixed;
  top: 0;
  left: -30%;
  height:50%;
  width: 50%;     
}
.submit{
  background-color: #697184;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 2.5em;
  width: 10.7em;
}