<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2B</title>

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
</head>
<body>
  <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fas fa-igloo"></span><span>Ro-One</span></h2>

        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href= '' class="active"><span class="fa fa-th-large"></span>
                        <span>Dashboard</span></a>
                </li>

                <li>
                    <a href= '' ><span class="fa fa-building"></span>
                        <span>Organization</span></a>
                </li>
                <li>
                    <a href= ''><span class="fa fa-globe"></span>
                        <span>Domains</span></a>
                </li>
                <li>
                    <a href= ''><span class="fas fa-igloo"></span>
                        <span>Groups</span></a>
                </li>
                <li>
                    <a href= ''><span class="fa fa-envelope-o"></span>
                        <span>Mail Settings</span></a>
                </li>

                <li>
                    <a href= ''><span class="fas fa-igloo"></span>
                        <span>Security & Compliances</span></a>
                </li>
                <li>
                    <a href= ''><span class="fa fa-area-chart"></span>
                        <span>Audit</span></a>
                </li>
              
            </ul>
        </div>

    </div>
    
    
    <div class="main-content">
        <header>
          <h2>
            <label for="nav-toggle">
              <span class="fas fa-bars"></span>
            </label>
            Dashboard
          </h2>
          <div class="search-wrapper">
            <span class="fas fa-search"></span>
            <input type="search" placeholder="search here">
          </div>

          <div class="user-wrapper">
            <img src="https://lh5.googleusercontent.com/proxy/4lIUHWW-mUeGGm3j0Z668byobb09r881Mvi6lbIjOrWu3mbKPJmo6s0mJ_1dKIphT5LvDVVJUvbVBPBrhzi1-L5uaT3xLD8=s0-d" width="40px" height="40px" alt="">
            <div>
                <h4>
                    John sins
                </h4>
                <small>Super admin</small>
            </div>
          </div>
        </header>

        <!-- <main>

            <div class="cards">
                <div class="card-single">
                    <div>
                    <h1>54</h1>
                    <span>Customers</span>
                    </div>
                
                <div>
                    <span class="fas fa-users"></span>
                </div>
            </div>


            <div class="card-single">
                <div>
                <h1>79</h1>
                <span>projects</span>
                </div>
            
            <div>
                <span class="fas fa-users"></span>
            </div>
        </div>

        <div class="card-single">
            <div>
            <h1>154</h1>
            <span>orders</span>
            </div>
        
        <div>
            <span class="fas fa-users"></span>
        </div>
    </div>

    <div class="card-single">
        <div>
        <h1>14</h1>
        <span>versions</span>
        </div>
    
    <div>
        <span class="fas fa-users"></span>
    </div>
</div>

            </div>


            <div class="recent-grid">
               <div class="projects">
                <div class="card">
                    <div class="card-header">
<h2>
    Recent projects
</h2>
<button>see all<span class="fas fa-arrow-right"></span></button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Project tirle</td>
                                    <td>depart</td>
                                    <td>status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>jsgduy </td>
                                    <td>jsgduy </td>
                                    <td><span class="status purple"></span> review</td>
                                </tr>
                                <tr>
                                    <td>web developemeu</td>
                                    <td>jsgduy </td>
                                    <td><span class="status pink"></span> inprogress</td>
                                </tr>
                                <tr>
                                    <td>web tol</td>
                                    <td>jsgduy </td>
                                    <td><span class="status orange"></span> pending</td>
                                </tr>
                                <tr>
                                    <td>web tol</td>
                                    <td>jsgduy </td>
                                    <td><span class="status orange"></span> pending</td>
                                </tr>
                                <tr>
                                    <td>web tol</td>
                                    <td>jsgduy </td>
                                    <td><span class="status orange"></span> pending</td>
                                </tr>
                            </tbody>

                        </table>
                        </div>
                    </div>
                </div>

               </div>
               <div class="customers">
                <div class="card">
                    <div class="card-header">
                        <h3>New customer</h3>
                        <button>See all <span class="fas fa-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="customer">
                            <div class="info">
                                <img src="https://th.bing.com/th/id/OIP.Qz_ZwFHcSb5o5u0eP7iBBgHaHW?pid=ImgDet&rs=1" width="40px" height=" 40px" alt="">
                                <div>
                                    <h4>Lewis s.cumjhsjwd</h4>
                                    <small>CEo Expert</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fas fa-user-circle"></span>
                                <span class="fas fa-comment"></span>
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>

                        <div class="customer">
                            <div class="info">
                                <img src="https://lh6.googleusercontent.com/proxy/zXJlC6hnhowxVCwgjCk_RMHeNOlUlbhX9tY2QSfbLJFPHH3AZsrl_CsmRxJ9eKBF-IRKQ6uDpMYZbW8G2ULzgMyTM81Wixg9slAnZnBRDRkeQ3BbyMCSWA5sg3ZPjZZP6cvmA8Xd8Q-PwwOBdxZi8ur9jQHcov2aOcpR45bOPJHbfWiz7pUV1smEw_nuALm5PAykqLT1QFBEplUjfAoZrTfocDC7Yz8Akui266AdP1oGzKl92j9vQLqYu1_FWI0neueNxwH7OAz9ptX7coXP8FKjErj9uRstCNA=w1200-h630-p-k-no-nu" width="40px" height=" 40px" alt="">
                                <div>
                                    <h4>Lewis s.cumjhsjwd</h4>
                                    <small>CEo Expert</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fas fa-user-circle"></span>
                                <span class="fas fa-comment"></span>
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>



                        <div class="customer">
                            <div class="info">
                                <img src="https://cdn.dribbble.com/users/2364329/screenshots/5930135/aa.jpg" width="40px" height=" 40px" alt="">
                                <div>
                                    <h4>Lewis s.cumjhsjwd</h4>
                                    <small>CEo Expert</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fas fa-user-circle"></span>
                                <span class="fas fa-comment"></span>
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            </div>

        </main> -->
    </div>
</body>
</html>
