<br>
<br>
<br>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body> 
    <i class="fa fa-arrow-left" style="margin-left: 1em; margin-top: 2em;font-size: 20px;" routerLink="/inventory"></i>
 
<div class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "{{data.imgurl}}" style="height:26em;width:20em">
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{data.name}}</h2>
      <div class = "product-price"> 
        <h2 class = "new-price"> Price: <span>{{data.price}}</span></h2>
      </div>

      <div class = "product-detail">

        <ul>
             <li>ProductId <span style="padding-left: 2cm;">:&nbsp;&nbsp;{{data.prodId}}</span></li>
             <hr>
          <li>Color <span style="padding-left: 2.83cm;">:&nbsp;&nbsp;{{data.color}}</span></li>
          <hr>
          <li>Available Quantity <span style="padding-left: 0.4cm;"> :&nbsp;&nbsp;{{data.qnt}}</span></li>
          <hr>
          <li>Location of stone <span style="padding-left: 0.6cm;">:&nbsp;&nbsp;{{data.region}}</span></li>
          <hr>
          <li>Processing date <span style="padding-left: 1cm;">:&nbsp;&nbsp;{{data.date}}</span></li>
          <hr>
          <li>Quality <span style="padding-left: 2.5cm;">:&nbsp;&nbsp;{{data.quality}}</span></li>
          <hr>
          <li>Thickness <span style="padding-left: 2cm;">:&nbsp;&nbsp;{{data.thick}}</span></li>
          <hr>
          <li>size<span style="padding-left: 3.2cm;">:&nbsp;&nbsp;{{data.size}}</span></li>
          <hr>
        </ul>
<br>
        <h1>Description: </h1>
        <p>{{data.description}}</p>

      </div>
    </div>
  </div>
</div>
 </body>