
mat-toolbar{
    background-color:#3b3b3b ;
    height: 90px;
    float: left;
}
.profile{
    margin-top: 2.9em;
    margin-left: -2em;
    color: white;
}
.img{
    height: 75px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 2em;
}
.search{
    height: 40px;
    width: 30em;
    border-radius: 10px;
    margin-left: 10em;
    margin-top: 0em;
    border: 0;
}

.button{
    border-radius: 8px;
    margin-left: 1em;
    border: 0;
}
.buttons{
    margin-left: 10.5em;
}

.button:hover{
    background-color: rgb(63, 60, 66);
}

/*this is for sidebar*/
mat-sidenav{
    background:#3b3b3b;
    width: 180px;   
    margin-top: 6.4em; 
} 
.main{
    margin-left: 210px;
}
