<mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <img src="assets/Logo1.jpg" class="img">
      <input type ="text" placeholder="&nbsp;&nbsp;search here..." class="search">
      <div class="buttons">
       <button class="button" routerLink="/home"><h4>Home</h4></button>&nbsp;&nbsp; &nbsp;&nbsp;
       <button class="button"><h4>Shopping</h4></button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class="button"><h4>Sell</h4></button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class="button"><h4>Help</h4></button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class="button" ><h4>Login</h4></button> &nbsp;&nbsp;&nbsp;&nbsp;
       
      </div>
    </mat-toolbar-row>
</mat-toolbar>



  

    
  <mat-sidenav-container> 
  
    <mat-sidenav-content>
      <div style="height: 88vh;">
      
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
