.tdstyle{
  color:#3b3b3b;
  padding: 2%;
  width: 100px;
} 
.img{
  width: 12em;
  height: 11em;
}
.users .card1{
  width: 90%;
  height: 175%;  
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px  35px #cccdcd;
}
.users table{
    margin:  auto;
}
 

/*this is for add product button*/
.addproduct{
    background: #697184;
    color: white;
    border-radius: 5px;
    border: 0;
    height: 35px;
    width: 165px; 
    float: right;
    margin-right: 2em;
    margin-top: 1em; 
}
.zoom {    
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  .form-control{
    padding-right: 25px;
    background: url(https://static.thenounproject.com/png/101791-200.png) no-repeat right;
     background-size: 20px; 
   }


