
<br>
<br>
<br>
<button class="addproduct" routerLink="/add-product"><b>Add your product</b></button>
<br>
<br>
<br>
<br>


<div class="row row-cols-2 row-cols-sm-3  g-4"  >
  <div *ngFor="let product of products">
<div class="col">

<div class="card h-100" style="margin: 7px; border-color: rgb(113, 113, 110);">
<img src={{product.imgurl}} class="card-img-top" style="height:10em" >
<div class="card-body">
  <tr>
    <td style="padding: 0%;" class="tdstyle"> Name : </td>
    <td>{{product.name}}</td>
  </tr>

  <tr>
    <td class="tdstyle"> Price: </td>
    <td>{{product.price}}</td>
  </tr>
  <tr>
    <td class="tdstyle"> Qnt: </td>
    <td>{{product.qnt}}</td>
  </tr>
  <tr>
    <td class="tdstyle"> Product ID </td>
    <td>{{product.prodId}}</td>
  </tr>
  <div>
    <i class="fa fa-trash-o" style="color: red;" (click)="delete(product.prodId)"></i>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-pencil-square-o" style="color: blue;" (click)="edit(product)" routerLink="/dealerproduct"></i>
  </div> 
</div>
</div>
</div>
</div>








    

 


    
   
 

 

 
 
