
      body{
        font-family: 'Roboto', sans-serif;
        height: 100%;
        background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
      }
          .panel-order .row {
           
            /* border: 1px solid #000000; */
            border-radius: 10px;
          }
          .panel-order .row:last-child {
            border: 0px;
         }
          .panel-order .row .col-md-1  {
            text-align: center;
        
            padding-top: 15px;
            color:rgb(255, 255, 255) 
          }
          .panel-order .row .col-md-1 img {
            height: 100px;
          }
          .panel-order .row .row {
            border-bottom: 0;
          }
         
          .panel-order .row .row .col-md-12 {
            padding-top: 7px;
            padding-bottom: 7px; 
          }
          .panel-order .row .row .col-md-12:last-child {
            font-size: 20px; 
            color: rgb(5, 74, 117) ;  
        }     
          .panel-order .panel-body {
            margin-bottom: 2em;
            border: 1px solid black;
            border-radius: 5px;
          }
          .panel-order .panel-deading {
            margin-bottom: 0;
          }  
          /*  */
          
          /*  */
    