<br>
<br>
<br>
<br>
<body>
    <div class="container bootdey">
      <div class="panel panel-default panel-order">
        <div class="panel-heading">
          <input type="text"  style=" width: 80%; font-size: large;    padding: 1%; " value="submit" placeholder= "Search...." [(ngModel)]="searchtext" name="array id" class="form-control"><br>
            <h1 style="font-size:30px;color: rgb(5, 74, 117) ;font-weight: bolder;padding: 2%;">ORDERS</h1>
        </div>        
        <div class="panel-body" *ngFor="let test of order | filter : searchtext ">                         
             <div *ngFor="let data of test.OrderData.OrderItems"> 
              <div class="row" >
                  <div class="col-md-1"><img src ="{{data.imgurl}}" style="height: 6.5em; width: 15em;"></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12" style="padding:25px" >                                 
                                <span class="label label-info"><b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> {{data.name}}</span><br>
                                <span class="label label-info"><b>Quantity &nbsp;&nbsp;&nbsp;&nbsp;: </b> {{data.qnt}}</span><br>
                                <span class="label label-info" ><b>TotalPrice &nbsp;: </b> {{data.Totalprice}}</span><br>
                                <span class="label label-info" ><b>Grandtotal : </b>{{data.grandtotal}}</span><br>
                                <span class="label label-info" ><b>Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{data.price}}</span><br>
                              </div>    
                                                        
                            </div>
                           
                          </div> 
                        </div>
                        </div>
                        <button  style=" 
                border-radius:5px; 
                background-color:rgb(86, 86, 185); 
                color:white;border: 0;
                margin-left: 2em;
                margin-bottom: 1em;
                height: 3em;"                                  
              (click)="getAddress(test)">View shipping details
             </button> 
            </div> 
                     
        </div>
   </div>                          
</body>


                             

                           
                              
                                
                       

