
<!--this is for login form-->  
 
  <form [formGroup]="loginForm" class="loginForm">  
    <table *ngIf="login" matSort>   
          <div class="form">
              <div class="mail"><h3><b>E-mail :</b></h3>
                  <input type="email" class="email" placeholder="Enter your email" name= "email" formControlName="Email" autocomplete="off"><br>
                  <span style="color: red;" *ngIf="Email && Email.invalid && Email.touched">Please enter your email</span>
              </div>                 
              <br>                            
              <div class="mail1"><h3><b>Password :</b></h3>
                  <input [type]="changetype?'text':'password'" class="email" placeholder="Password" formControlName="Password" autocomplete="off">
                  <span class="eye" (click)="view()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'" style="color: black;"></i></span><br>
                  <span style="color: red;" *ngIf="Password && Password.invalid && Password.touched">Please enter your correct password</span>
              </div>
                  <button type="submit" class="login" *ngIf="ishidden" (click)="loginSubmit(loginForm)"><b>LOG IN</b></button> 
                
              <div class="mobile">
                  login with mobile?<a (click)="togglePhone()" class="logwithPhone"><b>Login</b></a>              
              </div>
          </div>        

   <div class="box1">
    <div class="new">
        <h1><b>New Here? </b></h1>
    </div>
    <div class="text">
        <h4>Sign up and discover a<br>
        greate amount of opportunies!</h4>
    </div>                
    <button class="sign"  routerLink="/signup"><b>Sign up</b></button>        
</div>
</table>
</form>



<!--this is for log in with mobile page-->
<form >
    <table *ngIf="withMobile" matSort>
        <div class="otpForm">
            <div class="arrow">
                <i class="fa fa-arrow-left" style="margin-left: 1em; margin-top: 1em;" (click)="toggleArrow()"></i>
            </div>
           
            <img src="assets/images/phone5.png" class="mobileimg">
            
            <div class="phone" >            
                
                <div class="row">
                    <input type="text" class="phonebox" [(ngModel)]="mobile1" [ngModelOptions]="{standalone: true}" placeholder="Enter your phone number">
                     <!-- <span style="color: red;" *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched">Please enter your mobile number</span> -->
                </div>
                <div id="sign-in-button"></div>                          
            </div>

            <div class="row">
                <button class="otp" (click)="mobileOtp()">Generate OTP</button>
            </div>
        </div> 
    </table>
</form>



