<br>
<br>
<br>  
  <div class="container py-5 h-100" >
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;  background-image: url(https://w0.peakpx.com/wallpaper/474/857/HD-wallpaper-abstract-31-art-background-color-creativity-design-form-geometry-graphics-lines.jpg);">
          <div class="card-body p-4 p-md-5 bg-color-#3b3b3b">
            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" style="color: white;">ADD PRODUCT</h1>        
            <form [formGroup]="productForm">
            <hr>
              <div class="row text-white">
                <div class="col-md-8 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">Upload image:</label>
                    <input type="text" class="form-control form-control-lg" formControlName="imgurl"  placeholder="upload your image" >                    
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="lastName">Quantity:</label><br>
                    <!-- <button type="button" class="bt" (click)="minus()"><i class="fa fa-minus"></i></button> -->
                    <input   class="form-control form-control-lg" formControlName="qnt" [value]="1" readonly>
                    <!-- <button type="button" class="bt-t" (click)="plus()"><i class="fa fa-plus"></i></button>  -->
                                      
                  </div>
                </div>
              </div>

              <div class="row text-white">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Product Id:</label>
                    <input type="text" class="form-control form-control-lg" formControlName="prodId" placeholder="Enter your product number">              
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Price:</label>
                    <input type="text" class="form-control form-control-lg" formControlName="price" placeholder="Enter your price">                    
                  </div>
                </div>              
              </div>

              <div class="row text-white">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Name of product :</label>
                    <input type="email" class="form-control form-control-lg" formControlName="name" placeholder="Enter your product name">
                  </div>
                </div>
              </div>               

              <div class="mt-4 pt-2 text-center ">
                <button class="btn btn-primary btn-lg" type="submit"  (click)="submitForm()">Submit</button>&nbsp;
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>      
       
            
           
           
          
          

     


      
       
            
           
           
          
          

     


