/*this is for product input form*/

.productForm{
    height: 38em;
    width: 34em;
    border: 1px solid black;
    background-image: url("https://w0.peakpx.com/wallpaper/474/857/HD-wallpaper-abstract-31-art-background-color-creativity-design-form-geometry-graphics-lines.jpg");
    margin-left: 38em;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2em;
    padding: 35px;
}
.input{
    border-radius: 5px;
    height: 2.5em;
    border: 0;
    width: 28em;
}
.input1{
    border-radius: 5px;
    height: 2.5em;
    width: 17em;
    border: 0;
    margin-top: 5px;
}
.name{
    color: white;
}
.name1{
    color: white; 
    margin-bottom: 1em;  
}
.submit{
    height: 30px;
    width: 100px;
    color: #3b3b3b;
    background-color:white;
    border-radius: 5px;
    border: 0;  
    margin-left: 11em;
    margin-top: 1em;       
}
.image{
   color: white; 
}
.serial{
    float: right;
    color: white;
    margin-bottom: 1em;
}
.color{
    margin-top: 1em;
    color: white;
}
.title{
    color: white;
    font-size: 2em;
    text-align: center;
    height: 2em;
    width: 37;
    padding: 20px;
    border-radius: 5px; 
    margin-top: -1.5em; 
  }
.btt{
    width: 4em ;
    height: 2em;
    margin-top: 4px;
}
.close{
    color: red;  
    border: 0;
    width: 35px;
    font-size: 1.5em;
    margin-left: 19em;
    margin-bottom: 5px;
    margin-top: -1em;
    background-color:rgb(59, 110, 110);
  }
.bt-t{
    border: 0;
    height: 1.9em;
}
.quantity{
    margin-top: 0em;
    color: white;
    margin-left: 2em;
}
.description{
    border-radius: 5px;
    height: 4em;
    width: 28em;
}
/*this is for success message*/
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }