.tdstyle{
    color:#3b3b3b;
    font-weight: bold;
    padding: 2%;
    width: 100px;
  }
  td{
    text-align: left;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   height: 100%;
  
    flex-direction: row;
  }
  body{
    background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
  }
  .main-top{
    display: flex;
    width: 100%;
    height: 100%;
    
  }
  .main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
  }
  .main .users{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 3em;
    width: 100%;
    height: 55%;
  
  }
   .img{
    width: 12em;
    height: 11em;
    
  }
  .users .card1{
    width: 90%;
    height: 175%;  
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px  35px #cccdcd;
  }
  
  .users .card1 h4{
    text-transform: uppercase;
  }
  .users .card1 p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .users table{
    margin:  auto;
  }
  .users .per span{
    padding: 8px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
  }
  .users td{
    font-size: 14px;
    padding-right: 15px;
  }
  
  
  .addproduct{
    background: rgb(82, 83, 84);
    color: white;
    border-radius: 5px;
    border: 0;
    height: 35px;
    width: 135px; 
    float: right;
    margin-right: 2em;
    margin-top: 1em; 
  }
  .get{
    background: rgb(82, 83, 84);
    color: white;
    border-radius: 5px;
    border: 0;
   
    width: 140px; 
    float: left;
    margin-left: 2em;
    margin-top: 1em; 
  
  }
  
  .zoom {    
    transition: transform .1s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  /* this is for edit form*/
  .img1{
  height: 9em;
  width: 13em;
  border: 1px solid black;
  margin-left: 1em;
  margin-top: 1em;
  }
  .pop-up{
  height: 37em;
  width: 37em;
  padding: 15px;
  margin-left: 42em;
  margin-top:14%;
  border-radius: 5px;
  border: 1px solid black;
  background-image: url(https://img.freepik.com/premium-photo/grey-marble-texture-background_34936-2588.jpg?w=2000);
  }
  .name{
  font-size: 1em;
  }
  .input{
  margin-top: 0.2em;
  
  font-size: 1.5em;
  height: 1.5em;
  width: 10em;
  border-radius: 5px;
  border:1px solid #6e6c6c;
  }
  .discription{
  height: 6.8em;
  width: 15em;
  margin-top: 0.5em;
  }
  .title{
  font-size: 2em;
  font-weight: bold;
  margin-left: 5em;
  margin-top: 0.5em;
  margin-bottom:1em ;
  }
  .update{
  color: white;
  border-radius: 5px;
  color: white;
  height: 2em;
  width: 6em;
  background-color: rgb(29, 35, 198);
  border: 0;
  margin-left: 0em;
  }
  .cancel{
  color: white;
  border-radius: 5px;
  color: white;
  height: 2em;
  width: 6em;
  background-color: rgb(243, 43, 43);
  border: 0;
  margin-left: 1em;
  }
  .box1{
  height: 2.5em;
  width: 2.5em;
  border: 1px solid black;
  }
  .close{
  color: red;  
  border: 0;
  width: 40px;
  font-size: 1.5em; 
  margin-left: 22.5em;
  margin-bottom: -25px;
  margin-top: 0px;
  
  }  
  .pop-up-drop{ 
  position: fixed;
  top: 0;
  left: 0;
  }