/* body {
  font-family: "Poppins", sans-serif;
  color: #555555;
 background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
}
a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}
a:hover {
  color: #2eca6a;
  text-decoration: none;
}
.a {
  text-decoration: none;
  color: #2eca6a;
  font-size: 1.3rem;
}


.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 600;
}

.title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;
}

.title-link a {
  text-decoration: none;
  color: #313131;
}

.title-link span {
  font-size: 20px;
  padding-left: 4px;
  vertical-align: middle;
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}

.title-box-d .title-d:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2eca6a;
  bottom: 20px;
  left: 0;
}


  .intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
  }
  
  .intro-single .title-single-box {
    border-left: 3px solid #2eca6a;
  }
 
  
  

  
  .price-a {
    color: #ffffff;
    padding: 0.6rem 0.8rem;
    border: 2px solid #2eca6a;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .label{
    font-size: x-large;
    font-family: 'open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1%;
    margin: 1%;
    color: #4a88bf;
  }
  .add{
  height: 100%;
  }
  .input{
    width: 800px;
    font-size: large;
   padding: 2%;
   margin: 1%;
   color: black;
   background-color: white;
  }
  .pop-up {   
  margin-top: 5%;
  margin-left: 40%;
  width: 70%;
  height: 90%;
  border: 1px solid #2B2A2A;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/290/695/small/gold-marble-texture-luxurious-background-floor-decorative-stone-free-photo.jpg);
  }
  .pop-up-drop1 { 
    position: fixed;
    width: 70%; 
    top: 0;
    left: 0;
    min-height:100%;
    height:90%;
  } 
    label{
      color:#3b3b3b; 
    
    }
    .main{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  
  
    .main .users{
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-left: 30%;
    }
    .users .card{
      width: 25em;
      margin: 20px;
   height: 25em;
      text-align: center;
      border-radius: 10px;
      border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  
   
    }
    table{
      margin-left: 10%;width:80%; height: 85%;
  }
   
  
    .users .per span{
      padding: 5px;
      border-radius: 10px;
     
    }
    .users td{
      font-size: 14px;
      padding-right: 15px;
    }
   
    .pop-up-form {   
      margin-top: 5%;
      margin-left: 20%;
      width: 100%;
      height: 80%;
      border: 1px solid #2B2A2A;
      padding: 2%;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/290/691/small/gold-marble-texture-luxurious-background-floor-decorative-stone-free-photo.jpg);
      }
      .pop-up-drop-form { 
        position: fixed;
        width: 70%; 
        top: 0;
        left: 0;
        min-height:100%;
        height:90%;
      } 
    
      
    
    body {
    font-family: "Poppins", sans-serif;
    color: #555555;
    
    }
    
    .row1{
        margin-left: 4%;
        width:110%;
        margin-top: -2%;
    }
    .progress{
      height:5px;
    }
    .progress-bar{
        height:5px;
    }
    
    .row .col-md-6 {
      margin-top:1%;
      height: 50%; 
    
    
    }
    .btn{
      margin-left: 1%;
    } */

    body {
      font-family: "Poppins", sans-serif;
      color: #555555;
     background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #393939;
    }
    .title-box-d {
      padding-bottom: 1.8rem;
      margin-bottom: 1rem;
      position: relative;
    }
    
    .title-box-d .title-d {
      font-weight: 600;
      font-size: 2rem;
    }
    
    .title-box-d .title-d:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #2eca6a;
      bottom: 20px;
      left: 0;
    }
    
    @media (max-width: 767px) {
    
    }
    
    .intro-single .title-single-box {
      padding: 1rem 0 1rem 2rem;
    }
    
    .intro-single .title-single-box {
      border-left: 3px solid #2eca6a;
    }
    
    .intro-single .title-single-box .title-single {
      font-weight: 600;
      font-size: 2.2rem;
    }
    
    @media (min-width: 768px) {
      .intro-single .title-single-box .title-single {
        font-size: 2.1rem;
      }
    }
    
    @media (min-width: 992px) {
      .intro-single .title-single-box .title-single {
        font-size: 2.5rem;
      }
    }
    
    .intro-single .breadcrumb-box {
      padding: 1rem 0 0 0.5rem;
    }
    
    .intro-single .breadcrumb {
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
    }
    
      label{
        color:rgb(0, 0, 0); 
      }
      .main{
        display: flex;
        flex-wrap: wrap;    
        flex-direction: row;
      }   
      .main .users{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
      }
      .users .card{
        width: 25em;
        margin: 20px;
        text-align: center;
        border-radius: 10px;
        border: 0;
        background-color: rgba(255, 255, 255, 0.1);
    }
      table{
        margin-left: 10%;width:80%; height: 85%;
    }    
      .pop-up-form {   
        margin-top: 75%;
        margin-left: 20%;
        width: 100%;
        border: 1px solid #2B2A2A;
        padding: 2%;
      background-color:rgb(239, 239, 239);
      background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
        }
        .pop-up-drop-form { 
          position: fixed;
          width: 70%; 
          top: 0;
          left: 0;
          min-height:100%;
          height:90%;
        }
      
      .btn{
        margin-left: 1.5%;
      }   
    
      .form-control{
        padding-right: 25px;
        background: url(https://static.thenounproject.com/png/101791-200.png) no-repeat right;
         background-size: 20px;
      }