body {
    font-family: "Poppins", sans-serif;
    color: #555555;
   background-image: url(https://img.freepik.com/premium-photo/grey-marble-texture-background_34936-2588.jpg?w=2000);
  }
  
  
  /*------/ Title /------*/
  .title-wrap {
    padding-bottom: 4rem;
  }
  
  .title-a {
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 600;
  }
  
  .title-link {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1.2rem;
  }
  
  .title-link a {
    text-decoration: none;
    color: #313131;
  }
  
  .title-link span {
    font-size: 20px;
    padding-left: 4px;
    vertical-align: middle;
  }
  
  .title-box-d {
    padding-bottom: 1.8rem;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .title-box-d .title-d {
    font-weight: 600;
    font-size: 2rem;
  }
  
  .title-box-d .title-d:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2eca6a;
    bottom: 20px;
    left: 0;
  }
  
  .label{
    font-size: x-large;
    font-family: 'open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1%;
    margin: 1%;
    color: #4a88bf;
  }
  .add{
  height: 100%;
  }
  .input{
    width: 800px;
    font-size: large;
   padding: 2%;
   margin: 1%;
   color: black;
   background-color: white;
  }
  .pop-up {   
  margin-top: 5%;
  margin-left: 40%;
  width: 70%;
  height: 90%;
  border: 1px solid #2B2A2A;
  background-image: url(https://img.freepik.com/premium-photo/dark-grey-marble-texture-background-natural-tile-stone-floor_38607-984.jpg);
  }
  .pop-up-drop1 { 
    position: fixed;
    width: 70%; 
    top: 0;
    left: 0;
    min-height:100%;
    height:90%;
  } 
    label{
      color:white; 
    
    }
    .main{
      display: flex;
      flex-wrap: wrap;  
      flex-direction: row;
    }  
  
    .main .users{
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-left: 30%;
    }
    .users .card{
      width: 25em;
      margin: 20px;
   height: 36em;
      text-align: center;
      border-radius: 10px;
      border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  
   
    }
    table{
      margin-left: 10%;width:80%; height: 85%;
  }
   
  
    .users .per span{
      padding: 5px;
      border-radius: 10px;
     
    }
    .users td{
      font-size: 14px;
      padding-right: 15px;
    }
   
    .pop-up-form {   
      margin-top: 5%;
      margin-left: 20%;
      width: 100%;
      height: 80%;
      border: 1px solid #2B2A2A;
      padding: 2%;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjQ3y2L7RcrYakOQtg9KyS4ocERffiEjfsexYRgLVIUyH_LI8ePnQ6evD0WDPP6K-6tA4&usqp=CAU);
      }
      .pop-up-drop-form { 
        position: fixed;
        width: 70%; 
        top: 0;
        left: 0;
        min-height:100%;
        height:90%;
      }      
    .row1{
        margin-left: 4%;
        width:110%;
        margin-top: -2%;
    }
    .progress{
      height:5px;
    }
    .progress-bar{
        height:5px;
    }
    .gray{  
      background-color:lightgray;
    }
    .gray:hover {
        background-color:gray;
    }
    .row .col-md-6 {
      margin-top:1%;
      height: 50%;     
    }
    .btn{
      margin-left: 1%;
    }