<br>
<br>
<br> 
<br> 
<body>
<i class="fa fa-arrow-left" style="margin-left: 1em; font-size: 20px; color: #697184;" routerLink="/inventory"></i> 
  <div class="container h-100" >
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border:0;  background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);">
          <div class="card-body p-4 p-md-5 bg-color-#3b3b3b">
            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" style="color: #697184;"><b>ADD PRODUCT</b></h1>        
            <form [formGroup]="productForm">
            <hr>
              <div class="row text-dark">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">                    
                    <label class="form-label" for="firstName"><b>Upload image :</b></label>
                    <input type="text" class="form-control form-control-lg" formControlName="imgurl"  placeholder="upload your image" >
                    <span style="color: red;" *ngIf="imgurl && imgurl.invalid && imgurl.touched">Please select your Product image</span>                    
                  </div>
                  <div class="form-outline">                    
                    <input type="hidden" class="form-control form-control-lg" formControlName="mobile" [(ngModel)]="text.mobile">                    
                  </div>
                </div>               
              </div>
              <div class="row text-dark">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>S.NO :</b></label>
                    <input type="text" appFirstCap class="form-control form-control-lg" formControlName="prodId" [(ngModel)]="raw.Number" placeholder="Enter your product ID">
                    <span style="color: red;" *ngIf="prodId && prodId.invalid && prodId.touched">Please enter your Product Id</span>              
                  </div>
                </div> 
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Name of product :</b></label>
                    <select  formControlName="name" style="padding: 2%; width: 19em;border-radius: 6px;height: 2.8em;border:1px solid #c2c5ca;" class="fa fa-caret-down">
                      <option type="text" value="">Search Here...</option>
                      <hr>
                      <option value="Absolute Black">Absolute Black</option>
                      <option value="Alaska White">Alaska White</option>
                      <option value="Amazon White">Amazon White</option>
                      <option value="Aspen White">Aspen White</option>
                      <option value="ASTORIA">ASTORIA</option>
                      <option value="Bass Paradise">Bass Paradise</option>
                      <option value="Black Forest">Black Forest</option>
                      <option value="Black Galaxy">Black Galaxy</option>
                      <option value="Black Maranach">Black Maranach</option>
                      <option value="Black Pearl">Black Pearl</option>

                      <option value="Black Pearl-Z">Black Pearl-Z</option>
                      <option value="Blue Dunes">Blue Dunes</option>
                      <option value="Blue Flower">Blue Flower</option>
                      <option value=" Blue Pearl">Blue Pearl</option>
                      <option value=" Brass Blue">Brass Blue</option>
                      <option value="C.R White">C.R White</option>
                      <option value="China White">China White</option>
                      <option value="Classic Paradiso">Classic Paradiso</option>
                      <option value="Coffee Brown">Coffee Brown</option>
                      <option value="Colonial Gold">Colonial Gold</option>
                      
                      <option value="COLONIAL WHITE">COLONIAL WHITE</option>
                      <option value="Coral Brown">Coral Brown</option>
                      <option value="Coral Gold">Coral Gold</option>
                      <option value="Cream Cashmere">Cream Cashmere</option>
                      <option value=" Dakota Brown">Dakota Brown</option>
                      <option value="Emarald Pearl">Emarald Pearl</option>
                      <option value="Fareast White">Fareast White</option>
                      <option value="Flash Blue">Flash Blue</option>
                      <option value="Goura Brown">Goura Brown</option>
                      <option value="ICE SPARKLE">ICE SPARKLE</option>
                      
                      <option value="Ivory Gold">Ivory Gold</option>
                      <option value="Ivory White">Ivory White</option>
                      <option value="K.Black">K.Black</option>
                      <option value="Kuppam White">Kuppam White</option>
                      <option value="Lavender Blue">Lavender Blue</option>
                      <option value="Moon White">Moon White</option>
                      <option value="Pagasus">Pagasus</option>
                      <option value="Pink Grey">Pink Grey</option>
                      <option value="Prada Gold">Prada Gold</option>
                      <option value="River White">River White</option>

                      <option value="Royal Blue">Royal Blue</option>
                      <option value="Sadarhalli Grey">Sadarhalli Grey</option>
                      <option value="SALUR WHITE">SALUR WHITE</option>
                      <option value="Sapphire Blue">Sapphire Blue</option>
                      <option value="Silver Waves">Silver Waves</option>
                      <option value="Spice Black">Spice Black</option>
                      <option value="Steel Grey">Steel Grey</option>
                      <option value="STREAM WHITE">STREAM WHITE</option>
                      <option value="Super White">Super White</option>
                      <option value="Surf Green">Surf Green</option>

                      <option value="Tan Brown">Tan Brown</option>
                      <option value="Thunder White">Thunder White</option>
                      <option value="Viscount White">Viscount White</option>
                      <option value="Vizag Blue">Vizag Blue</option>
                    </select> 
                    <span style="color: red;" *ngIf="name && name.invalid && name.touched">Please select your Product name</span>               
                  </div>
                </div>                            
              </div>
              <div class="row text-dark"> 
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Colour :</b></label>
                    <input type="text" appFirstCap class="form-control form-control-lg" formControlName="color" placeholder="Enter your product colour">
                    <span style="color: red;" *ngIf="color && color.invalid && color.touched">Please enter your Product Colour</span>                    
                  </div>
                </div>  
                <div class="col-md-5 mb-1 align-items-center">   
                 <div class="form-outline datepicker w-80" style="margin-bottom: -2em;">
                   <label for="birthdayDate" class="form-label"><b>Size :</b></label>               
                   <input type="text" appFirstCap class="form-control form-control-lg" formControlName="size" placeholder="Enter your product size">   
                   <span style="color: red;" *ngIf="size && size.invalid && size.touched">Please enter your Product size</span>                                                  
                 </div>                 
                </div>  
                <div class="col mb-4" style="margin-top: 2.5em;">   
                    <i class="fa fa-question-circle-o" style="font-size:20px; color: rgb(102, 102, 232);" (click)="toggle()"></i>                                                
                </div> 
                <div *ngIf ="prodSize" style="float: left;margin-top: -5px;">
                  <div class="form-control" style=" background-color: #9a9fa9; color: white;">
                    <p>This field provides value according to <b>length x breadth</b></p>
                  </div>
                </div>                         
              </div>             
              <div class="row text-dark">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Thickness :</b></label>
                    <select  formControlName="thick" style="padding: 2%; width: 19em;border-radius: 6px;height: 2.8em;border:1px solid #c2c5ca;" class="fa fa-caret-down">
                      <option value="3cm">3Cm</option>
                      <option value="2cm">2cm</option>
                    </select>    
                    <span style="color: red;" *ngIf="thick && thick.invalid && thick.touched">Please select your Thickness of stone</span>                
                 </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Available Quantity :</b></label>
                    <input type="text" class="form-control form-control-lg" formControlName="qnt" placeholder="Enter your product qnty">  
                    <span style="color: red;" *ngIf="qnt && qnt.invalid && qnt.touched">Please enter your Quantity</span>            
                  </div>
                </div>                             
              </div>
              <div class="row text-dark">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Price /SQFT :</b></label>
                    <input type="text" class="form-control form-control-lg" formControlName="price" placeholder="Enter your price">
                    <span style="color: red;" *ngIf="price && price.invalid && price.touched">Please enter your Product Price</span>                    
                  </div>
                </div> 
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Location/Region of stone :</b></label>
                    <input type="text" appFirstCap class="form-control form-control-lg" formControlName="region" placeholder="select your product location">   
                    <span style="color: red;" *ngIf="region && region.invalid && region.touched">Please enter your product location</span>           
                  </div>
                </div>                             
              </div>
              <div class="row text-dark">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Quality :</b></label><br>
                    <select  formControlName="quality" style="padding: 2%; width: 19em;border-radius: 6px;height: 2.8em;border:1px solid #c2c5ca;" class="fa fa-caret-down">
                      <option value="Premium"> Premium</option>
                      <option value="Standard">  Standard</option>
                      <option value="Commercial">  Commercial</option>
                    </select> 
                    <span style="color: red;" *ngIf="quality && quality.invalid && quality.touched">Please select your Quality</span>                                      
                  </div>
                </div> 
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"><b>Processing Date :</b></label>
                    <input type="date" class="form-control form-control-lg" formControlName="date" placeholder="Enter processing date">
                    <span style="color: red;" *ngIf="date && date.invalid && date.touched">Please select your date</span>              
                  </div>
                </div>
              </div>
              <div class="row text-dark">
              <div class="col-md-12 pb-2">
                <div class="form-outline datepicker w-100">
                  <label for="birthdayDate" class="form-label"><b>Stone Size/Type :</b></label><br>
                  <select  formControlName="stone" style="padding: 2%; width: 19em;border-radius: 6px;height: 2.8em;border:1px solid #c2c5ca;" class="fa fa-caret-down">
                     <option  value="Gangsaw Size">Gangsaw Size</option>
                     <option  value="Cutter Size">Cutter Size</option>
                   </select>
                   <span style="color: red;" *ngIf="stone && stone.invalid && stone.touched">Please select your Product type</span>
                </div>
               </div> 
              </div>
              <div class="row text-dark">
                <div class="col-md-12  pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress"><b>Description :</b></label>
                    <textarea type="email" appFirstCap class="form-control form-control-lg" cols="5" rows="5" formControlName="description" placeholder="Enter your message"></textarea>
                    <span style="color: red;" *ngIf="description && description.invalid && description.touched">Write few words about this product</span>
                  </div>
                </div>
              </div> 
              <div class="mt-1  text-center ">
                <button class="submit" type="submit"  (click)="submitForm()">Submit</button>&nbsp;
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>      
       
            
           
           
          
          

     


      
       
            
           
           
          
          

     



       
            
           
           
          
          

     

