 
 
 <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <img src="assets/Logo1.jpg" class="img">
    </mat-toolbar-row>
</mat-toolbar>    

<form  [formGroup]="productForm" > 
    <div *ngIf="addProduct"  class="signup">
      <div class="row">
        <button (click)="cancel()" class="close"><i class="fa fa-times"></i></button>
      </div>   
      <div class="row">
         <div class="title"><b>ADD PRODUCT </b></div>
      </div>
        <div class="row">
            <div class="col">
                <div class="image"><h2>Upload image:<br>
                    <input type="text" formControlName="image" id="image">
                </h2>
                </div>
            </div>
            <div class="col">
                <div class="quantity">
                    Quantity:<br>
                    <button type="button" class="bt-t" (click)="minus()"><i class="fa fa-minus"></i></button>
                    <input  [value]="quantity" class="btt" formControlName="Quantity">
                    <button type="button" class="bt-t" (click)="plus()"><i class="fa fa-plus"></i></button>                    
                </div><br>
            </div>           
        </div>
        <div class="row">
            <div class="name">
                Product Name:<br>
                <input type="text" formControlName="Name" placeholder="Enter your first name" class="input">
            </div><br>
        </div><br>
        <div class="row">
            <div class="name">
                Price:<br>
                <input type="email" formControlName="Price" placeholder="Enter your price" class="input">
            </div><br>
        </div><br>
        <div class="row">
          <div class="name">
            Number :<br>
            <input type="email" formControlName="Number" placeholder="Enter your price" class="input">                   
          </div><br>
        </div>
        <div class="row">
            <div class="name">
                Description :<br>
                <textarea type="text" formControlName="Description" placeholder="Enter your description" class="description"></textarea>
            </div>
        </div><br>
        
        <button class="submit" (click)="submitForm()"><b>Submit</b></button> 
            
      </div>
  </form>
      
       
            
           
           
          
          

     
