<div class="sidebar">
    <div class="home">HOME</div>
    <div class="home"  routerLink="product">Product &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down" (click)="toggle()"></i></div>

    <div >
      <table *ngIf="dropdown" matSort class="dropdown">
        <div class="marble">Marbles</div>
        <hr style="height: 0.2px;">
        <div class="granite">Granite</div>
      </table>
    </div>
    <div class="home" routerLink="raw">Raw Material</div>
    <div class="home">Invoices</div>     
</div>
