<mat-toolbar >

  <mat-toolbar-row>

    <button mat-icon-button>

      <mat-icon (click)="sidenav.toggle();"><i class="fa fa-bars" style="color: white;"></i></mat-icon>

    </button>

    <h1 class="bsbspace"> <img style="width:120px;height:90px;margin-top:-1%; border-radius:50%;" src="/assets/images/logoMilestone.jpg"></h1>

    <br>
    <h1 class="space">Home</h1>
    <h1 class="space"> Help</h1>
    <h1 routerLink="/profile" class="space">About Us</h1>
    
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav opend="true" mode="side">

    <mat-nav-list>

      <a href="" class="bgclr" mat-list-item><i class="fa fa-home" style="font-size:24px;color:white"></i>&nbsp; Home  </a>    

      <a href="/" class="bgclr" mat-list-item>&nbsp;Inventory</a>

       <a href="/product" class="bgclr" mat-list-item>&nbsp;Products</a>

       <a href="" class="bgclr" mat-list-item>&nbsp;Order History</a>
       <a href="" class="bgclr" mat-list-item>&nbsp; Dealer Management </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div style="height: 99vh">

      <router-outlet>

      </router-outlet>  

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
