input{
    width:300px;
    height:20px;
    border-radius: 20px;
    padding: 17px;
}

mat-nav-list{
    background-color:#3b3b3b;
    color: white;
    height:100%;
  
    cursor: pointer;
}
.a{
    color: white;
    color : white;
}
mat-toolbar-row{
    background-image:url("https://www.kajariaceramics.com/product-picture/GP02384_b.jpg");
    height:100px;
    border:1px solid #3b3b3b;   
}
.div{

    background-color: white;
}
p{
    text-align: center;
}
span{
    float: bottom;
}
img{
    height:30px;
    color:white;
}


.space{
    padding-right: 13%;
    color: white;
    margin-left: 10%;
}
.bsbspace{
    padding-right: 10%;
    color: white;
}
.bgclr{
    color:white
}
.bgclr:hover{
 
    color:white;
}
