<br>
<br>
<br>
<br>
<br>
<div  class="row justify-content-center align-items-center text-center ">
  <div class="col-10 col-lg-7 col-xl-5">
    <input type="text" value="submit" placeholder= "Search...." [(ngModel)]="searchtext" name="array id" class="form-control"><br>
  </div>
</div>   
<button class="addproduct" routerLink="/add-raw">Add Raw-Product</button>
<br>
<br>
<br>
<br>
<div class="row row-cols-1 sm-1 row-cols-md-5 p-3 ">
  <div *ngFor="let product of products | filter : searchtext ">
    <div class="col">
       <div class="card h-100">
           <img src={{product.Image}} class="card-img-top" style="height:13em">
          <div class="card-body">
            <table>
              <tr>
                <td><b style="color: rgb(77, 77, 180);"> S.NO </b></td>
                <td>: {{product.Number}}</td>
              </tr>
              <tr>
                <td><b style="color: rgb(77, 77, 180);"> Name </b></td>
                <td>: {{product.Name}}</td>
              </tr>
              <tr>
                <td><b style="color: rgb(77, 77, 180);"> Colour </b></td>
                <td>: {{product.color}}</td>
              </tr>
              <tr>
                <td><b style="color: rgb(77, 77, 180);"> Size </b></td>
                <td>: {{product.size}}</td>
              </tr>
              <tr>
                <td><b style="color: rgb(77, 77, 180);"> Location </b></td>
                <td>: {{product.region}}</td>
              </tr>
              <tr>
                <td><b style="color: rgb(77, 77, 180);"> Arrival- Date </b></td>
                <td>: {{product.date}}</td>
              </tr>
            </table> 
            <div class="text-center pt-2">
              <button style="width: 4em; background-color: rgb(232, 79, 79);color: white;border-radius: 5px;border: 0;"  (click)="delete(product.Number)">Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button style="width: 4em; background-color: rgb(80, 98, 237);color: white;border-radius: 5px;border: 0;"  (click)="edit(product)" routerLink="/raw-update">Edit</button>
            </div> 
            <div class="pt-1" style="float: left;">              
              <button class="btn btn-success" (click)="edit(product)" routerLink="/add-product">Move to product</button>
            </div>                  
         </div>
      </div>
  </div>
</div>