.tdstyle{
  color:#3b3b3b;
  font-weight: bold;
 padding: 2%;

}
td{
  text-align: left;
}
.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; 
  flex-direction: row;
}
.main-top{
  display: flex;
  width: 100%;
  height: 100%;  
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main .users{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 3em;
  width: 100%;
  height: 55%;
}
 .img{
  width: 12em;
  height: 10em;  
}
.users .card1{
  width: 90%;
  height: 178%;  
  background:white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px  35px #6c7895;
}
.users .card1 h4{
  text-transform: uppercase;
}
.users .card1 p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 8px;
  border-radius: 10px;
  background: hsl(0, 0%, 87%);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.addproduct{
  background: rgb(82, 83, 84);
  color: white;
  border-radius: 5px;
  border: 0;
  height: 35px;
  width: 135px; 
  float: right;
  margin-right: 2em;
  margin-top: 1em; 
}
.get{
  background: rgb(82, 83, 84);
  color: white;
  border-radius: 5px;
  border: 0;
  height: 35px;
  width: 135px; 
  float: leeft;
  margin-left: 2em;
  margin-top: 1em; 
}
.panel-order .row {
/* border-bottom: 2px solid rgb(255, 255, 255) ; */
border: 2px solid rgb(5, 74, 117);
border-radius: 10px;

}
.zoom {    
  transition: transform .1s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
mat-toolbar{
  background-color:#3b3b3b;;
  height: 80px;
  background-image: url(https://www.kajariaceramics.com/product-picture/GP02384_b.jpg);
}
.mar{
  width: 20%;
}
.text button {
  font-size: 0.8em;
  padding: 0.5em 0.8em;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 5px;
  color: rgba(0 0 0/ 0.8);
  background-color: #97a8dd;
}

.text button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #4a7e80;
}
/* body{
background-image: url(https://img.freepik.com/premium-photo/grey-marble-texture-background_34936-2588.jpg?w=2000);
height: 100%;
width: 100%;
} */
