<button class="addproduct" routerLink="/add"><b>Add new product</b></button>


<section class="main">
    <div *ngFor="let product of products">      
      <div class="users">  
        
    <div class="card1">
    <div class="zoom">
       <img src="{{product.image}}" class="img" >
    </div>
       <table style="height:50px; padding: 2%" >
        <tr>
          <td class="tdstyle">Number: </td>
          <td>{{product.Number}}</td>
        </tr>
        <tr>
        <td class="tdstyle"> Name: </td> 
        <td>{{product.Name}}</td>
      </tr>
      <tr>
        <td class="tdstyle"> Quantity: </td> 
        <td>{{product.Quantity}}</td>
      </tr>
      <tr>
        <td class="tdstyle"> Price: </td> 
        <td>{{product.Price}}</td>
      </tr>
      <tr>
        <td class="tdstyle"> Description: </td> 
        <td>{{product.Description}}</td>
      </tr>
    </table>  
        <div>
          <i class="fa fa-trash-o" style="color: red;" (click)="delete(product.Number)"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-pencil-square-o" style="color: blue;" (click)="edit(product)"></i>
        </div>       
</div>
</div>
</div>
</section>

<!--this is for edit form-->
<section *ngIf="editForm">
<div class="pop-up-drop">
  <div  class="pop-up">

    <div class="row">
      <button (click)="closeForm()" class="close"><i class="fa fa-times"></i></button>
    </div>
    <div class="row" >
      <div class="title"> EDIT PRODUCT</div>
    </div> 
    <div class="row">
      <div class="col">
        <img src="{{productform.image}}" class="img1" id="image" > 
      </div>
      <div class="col">
        <div class="name">S.No :<br>
          <input type="text" class="input" [(ngModel)]="productform.Number" id="Number" >
        </div>
        <div class="name" >Name :<br>
          <input type="text" class="input" [(ngModel)]="productform.Name" id="Name">
        </div>
      </div>
    </div>
    <hr>    
      <div class="row">  
        <div class="col">
          <div class="name">Quantity :<br>
            <input type="text" class="input" [(ngModel)]="productform.Quantity" id="Quantity">
          </div>
          <div class="name">Price :<br>
            <input type="text" class="input" [(ngModel)]="productform.Price" id="Price">
          </div>
        </div>  
        <div class="col">
          <div class="name">Description :<br>
            <textarea type="text" class="discription" [(ngModel)]="productform.Description" id="Description"></textarea>
          </div>
        </div>       
      </div>     
    <div class="row" style="margin-top: 1em;">
      <div class="col">
        <button class="update"(click)="updateProduct(productform._id)">Save</button>
        <button (click)="closeForm()" class="cancel">Cancel</button>
      </div> 
    </div>    
  </div>     
</div>  
</section>






    

 


    
   
 

 

 
 
