

<!-- <mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <img src="assets/Logo1.jpg" class="img">
  </mat-toolbar-row>
</mat-toolbar> 

<section >
    <div  class="edit">
      <div class="row" >
        <div class="title"> EDIT PRODUCT</div>
      </div> 
      <div class="row">
        <div class="col">
          <img src="" class="img1" [(ngModel)]="data.image"> 
        </div>
      
        <div class="col">
          <div class="name">Number :<br>
            <input type="text" class="input" [(ngModel)]="data.Number">
          </div>
          <div class="name" >Name :<br>
            <input type="text" class="input" [(ngModel)]="data.Name">
          </div>
       
          <div class="name">Quantity :<br>
            <input type="text" class="input" [(ngModel)]="data.Quantity">
          </div>
      
          <div class="name">Price :<br>
            <input type="text" class="input"value="{{data.Price}}">
          </div>
       
          <div class="name">Description :<br>
            <textarea type="text" class="discription" value="{{data.Description}}"></textarea>
          </div>
        </div>
      </div> 
      <div class="row" style="margin-top: 1em;">
        <div class="col">
          <button  class="update" (click)="updateProduct(data)">Update</button>
        </div>
        <div class="col">
          <button (click)="closeForm()" class="cancel">Cancel</button>
        </div> 
      </div>    
    </div>     
      
  </section> -->
