
<div >   
    <div  class="box">
        <img src="assets/images/user3.png" style="height: 9em; width: 9em;margin-left:4.7em;margin-top: 5em;" >
        <h1 style="text-align: center; color: white;">{{text.Firstname}} {{text.Lastname}}</h1>
        <br>
        <i class="fa fa-pencil-square-o" style="color: white; font-size: 2em; margin-left: 4.5em;" (click)="edit(text)"></i>
    </div>

    <div class="box2" >
      <div class="row" style="color: rgb(114, 110, 228);">Profile Information</div>
      <hr>
      <div class="row" class="row1">
        Mobile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; 
         {{text.mobile}}     
      </div><br><br>
      <div class="row" class="row1">
        Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;   
        {{text.Email}}
      </div><br><br>
      <div class="row" class="row1">
        Password :&nbsp;   
        {{text.Password}}
      </div><br><br>
      <div class="row" style="color: rgb(114, 110, 228);">Address</div>
      <hr>
      <div class="row" class="row1">
        Street &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :  
         {{text.Street}}  
      </div><br>
      <div class="row" class="row1">
        City/Town :  
         {{text.City}}  
      </div><br>
      <div class="row" class="row1">
        State &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :  
         {{text.State}}  
      </div><br>
      <div class="row" class="row1">
        Pincode &nbsp;&nbsp; :  
         {{text.Pincode}}  
      </div>
    </div>
</div>

<!-- This is for edit form -->

<div *ngIf="editform">
<div class="pop-up-drop">
  <div  class="pop-up">
    <form [formGroup]="updateform" (ngSubmit)="updateProfile(userPost.value)" #userPost="ngForm">
    <div class="row" class="title">Edit profile</div>
    <br>
    <div class="row">
      <div class="col">First Name
        <input type="text" [(ngModel)]="text.Firstname"  class="input" formControlName="Firstname"> 
      </div>
      <div class="col">Last Name
        <input type="text" [(ngModel)]="text.Lastname"  class="input" formControlName="Lastname">
      </div>
    </div><br>
    <div class="row">
      <div class="col">Mobile Number
        <input type="email" [(ngModel)]="text.mobile"  class="input" formControlName="mobile">
      </div>
      <div class="col">Password
        <input type="email" [(ngModel)]="text.Password" class="input" formControlName="Password">
      </div>      
    </div><br>
    <div class="row">
      <div class="col">Email<br>
        <input type="email" [(ngModel)]="text.Email"  class="email" formControlName="Email">
      </div>
    </div><br>
    <div class="row" class="address">Address</div>
    <div class="row">
      <div class="col">Street<br>
        <input type="text" class="input1" [(ngModel)]="text.Street"  formControlName="Street">
      </div>
      <div class="col">city/town
        <input type="text" class="input1"  [(ngModel)]="text.City"  formControlName="City">
      </div>
    </div>
    <div class="row">
      <div class="col">state<br>
        <input type="text" class="input"  [(ngModel)]="text.State"  formControlName="State"> 
      </div>
      <div class="col">Pincode
        <input type="text" class="input"  [(ngModel)]="text.Pincode"  formControlName="Pincode">
      </div>      
    </div> 
    <br> 
    <button  class="btn"  (click)="updateProfile(text.id)"  style="color: white;background-color: rgb(73, 56, 165);"> Update </button>&nbsp;&nbsp;
    <button  class=" btn" style="color: white;background-color: red;" type="submit" (click)="closeForm()">cancel</button>  
    </form>
  </div>
</div>
</div>

