<mat-toolbar>
    <mat-toolbar-row>
        <img src="assets/images/logoMilestone.jpg" class="img">
        <div class="title1">
            <b>WELCOME TO MILESTONE</b>
        </div>
        <button class="log" routerLink="/"><h4>Login</h4></button>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="form" >
<div  *ngFor="let text of loginData">   
    <div class="row" >
        <i class="fa fa-arrow-left" style="font-size: small;"routerLink="/homepage"></i>
        <img src="assets/images/user3.png" style="height: 7em; width: 9em;margin-left: 10.6em;" >
        <h1 style="text-align: center;" >{{text.Firstname}} {{text.Lastname}}</h1>
    </div>
    <hr><br>
    <div class="row" class="row1">
        Mobile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; 
         {{text.mobile}}     
    </div><br>
    <div class="row" class="row1">
        Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;   
        {{text.Email}}
    </div><br>
    <div class="row" class="row1">
        Password :&nbsp;   
        {{text.Password}}
    </div><br>
    <div class="row" class="row1">
        Address &nbsp;&nbsp;&nbsp;:&nbsp;   
        <!-- {{text.Address}}  -->
    </div><br><br>
    <!-- <button (click)="submit()">get</button>  (click)="edit()"-->
    <button class="edit" (click)="edit(text)">Edit Profile</button>
</div>
</div>


<!-- This is for edit form -->

<div *ngIf="editform">       
    <div class="container">
      <div class="row gutters">     
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class=" ">
        <div class="card11-up">
          <div class="row gutters">
            <h1 style="color: white; text-align: center; font-size: 30px; font-weight: 700; margin-top: 5px;">Edit Profile</h1>             
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h1 style="color:white" >Personal Details</h1>
            </div>           
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%"> 
              <div class="form-group">
                <label for="fullName" style="color:white">First Name</label>
                <input type="text"  style="padding:3%" [(ngModel)]="SignupForm.Firstname"  class="form-control"  >
              </div>
            </div>           
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
              <div class="form-group">
                <label for="fullName" style="color:white">Last Name</label>
                <input type="text" [(ngModel)]="SignupForm.Lastname"  style="padding:3%"    class="form-control"  >
              </div>
            </div>         
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
              <div class="form-group">
                <label for="eMail" style="color:white">Mobile Number</label>
                <input type="email" [(ngModel)]="SignupForm.mobile" style="padding:3%"   class="form-control" >
              </div>
            </div>         
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
              <div class="form-group">
                <label for="eMail" style="color:white">Password</label>
                <input type="email" [(ngModel)]="SignupForm.Password" style="padding:3%"   class="form-control" >
              </div>
            </div>       
          <br>
          <br>
          <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12" style="padding:1%">
            <div class="form-group">
              <label for="eMail" style="color:white">Email</label>
              <input type="email" [(ngModel)]="SignupForm.Email" style="padding:3%"   class="form-control" >
            </div>
          </div>
          <div class="row gutters">
            <div   >
              <h1 style="color:white" >Address</h1>
            </div>    
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding:1%">
              <div class="form-group">
                <label for="Street" style="color:white">Area/Street</label>
                <textarea type="name" [(ngModel)]="SignupForm.Address" rows="4" style="width:103%;padding:2%;border-radius: 5px;"></textarea>
              </div>
            </div>
          </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">               
                <button  class="btn"  (click)="updateData(SignupForm.docId)"  style="color: white;background-color: rgb(73, 56, 165);"> Update </button>&nbsp;&nbsp;
                <button  class=" btn" style="color: white;background-color: red;" type="submit" (click)="closeForm()">cancel</button>
              </div>
            </div>
          </div>
        </div>          
        </div>
      </div>
      </div>
      
  </div>


