<br>
<br>
<br>
<!-- bootatrap profile form   *ngIf="profile"-->

  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 90px;" />
              <h2>{{text.Firstname}} {{text.Lastname}}</h2>
             
              <i class="fa fa-pencil-square-o" style="color: rgb(243, 241, 245);" (click)="edit(text)" routerLink="/profile-update"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h5 style="color: blue;">Profile Information</h5>
                <hr class="mt-0 mb-4">
                <div class="row">
                  <div class="col-21 mb-3">
                    <h3>Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{text.mobile}} </h3>
                  </div>
                  <div class="col-12 mb-3">
                    <h3>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{text.Email}}</h3>
                    </div>
                   <div class="col-21 mb-3">
                    <h3>User Type &nbsp;: {{text.UserType}} </h3>
                  </div> 
                </div>
                <h5 style="color: blue;">Address</h5>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h4 style="color: rgb(255, 0, 0);">Street : </h4>
                    <h3>{{text.Street}}</h3>
                  </div>
                  <div class="col-6 mb-3">
                    <h4 style="color: rgb(255, 0, 0);">City : </h4>
                    <h3>{{text.City}}</h3>
                  </div>
                  <div class="col-6 mb-3">
                    <h4 style="color: rgb(255, 0, 0);">State : </h4>
                    <h3> {{text.State}}</h3>
                  </div>
                  <div class="col-6 mb-3">
                    <h4 style="color: rgb(255, 0, 0);">Pincode : </h4>
                    <h3> {{text.Pincode}} </h3>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container py-5 h-100" *ngIf="editform">
    <i class="fa fa-arrow-left" style="margin-left: 1em;" (click)="closeForm()"></i>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5" style="color: blue;">Edit Profile</h2>
            <form [formGroup]="updateform" (ngSubmit)="updateProfile(userPost.value)" #userPost="ngForm">

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control form-control-lg"  [(ngModel)]="text.Firstname" formControlName="Firstname">
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" [(ngModel)]="text.Lastname"   formControlName="Lastname" class="form-control form-control-lg" >
                   
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Mobile</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="text.mobile" formControlName="mobile">
              
                  </div>

                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Password</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="text.Password"  formControlName="Password">
                    
                  </div>
                </div>              
              </div>

              <div class="row">
                <div class="col-md-12 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" [(ngModel)]="text.Email" formControlName="Email" class="form-control form-control-lg" >
                  </div>

                </div>
              </div>
              <h5 style="color: blue;">Address</h5>
                <hr class="mt-0 mb-4">
              
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Street</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="text.Street"  formControlName="Street">
                
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">City</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="text.City"  formControlName="City">
                      
                    </div>
  
                  </div>              
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">State</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="text.State"  formControlName="State">
                
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Pincode</label>
                      <input type="text" class="form-control form-control-lg"[(ngModel)]="text.Pincode"  formControlName="Pincode">
                      
                    </div>
  
                  </div>              
                </div>

              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg" type="submit"  (click)="updateProfile(text.id)">Submit</button>&nbsp;
                <button class="btn btn-danger btn-lg" type="submit"  (click)="closeForm()">Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



