.card{
    border-radius: 0;
     background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);  
}
body{
    background-image: url(https://img.freepik.com/free-vector/close-up-white-marble-textured-background_53876-58927.jpg);
}
.submit{
    background-color: #697184;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 2.5em;
    width: 5.5em;
}