<br>
<br>
<body>
<div class="container py-5 h-100" >
    <i class="fa fa-arrow-left" style="margin-left: 1em;" routerLink="/profile"></i>
    <br>
    <br>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <form [formGroup]="ProfileForm">
          <div class="card-body p-4 p-md-5">
            <h2 class="mb-4 pb-2 pb-md-0 mb-md-1 text-center" style="color: blue;"><b>Edit Profile</b></h2>  
            <hr>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control form-control-lg"  [(ngModel)]="this.data.Firstname" formControlName="Firstname" >                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" [(ngModel)]="this.data.Lastname" class="form-control form-control-lg" formControlName="Lastname" >                   
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Mobile</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.mobile" formControlName="mobile" >              
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Password</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.Password" formControlName="Password">                    
                  </div>
                </div>              
              </div>
              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" [(ngModel)]="this.data.Email"  class="form-control form-control-lg" formControlName="Email" >
                  </div>
                </div>
              </div>
              <h5 style="color: blue;">Address</h5>
                <hr class="mt-0 mb-4">
              
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Street</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.Street" formControlName="Street">                
                    </div>  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">City</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.City" formControlName="City">                      
                    </div>  
                  </div>              
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">State</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.State" formControlName="State">                
                    </div>  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Pincode</label>
                      <input type="text" class="form-control form-control-lg"[(ngModel)]="this.data.Pincode" formControlName="Pincode">                      
                    </div>  
                  </div>              
                </div>
                <h5 class="pt-1" style="color: blue;">Company Details</h5>
                <hr>
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Company</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.Company" formControlName="Company">                
                    </div>  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Location</label>
                      <input type="text" class="form-control form-control-lg"[(ngModel)]="this.data.Location" formControlName="Location">                      
                    </div>  
                  </div>
                </div>
                <div class="col-md-12 mb-4 d-flex align-items-center">  
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Company Bio</label>
                    <input type="text" class="form-control form-control-lg"[(ngModel)]="this.data.bio" formControlName="bio">                      
                  </div>  
                </div> 
              <div class="mt-4 pt-2 text-center">
                <button class="btn btn-primary btn-lg" type="submit"  (click)="updateProfile(this.data.Authentication)">Submit</button>&nbsp;
                <button class="btn btn-danger btn-lg" type="submit"  routerLink="/profile">Cancel</button>
              </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</body> 
