<div class="container py-5 h-100" >
    <i class="fa fa-arrow-left" style="margin-left: 1em;" routerLink="/profile"></i>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5" style="color: blue;">Edit Profile</h2>
            

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control form-control-lg"  [(ngModel)]="this.data.Firstname" >
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" [(ngModel)]="this.data.Lastname"    class="form-control form-control-lg" >
                   
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Mobile</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.mobile" >              
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Password</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.Password">                    
                  </div>
                </div>              
              </div>
              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" [(ngModel)]="this.data.Email"  class="form-control form-control-lg" >
                  </div>
                </div>
              </div>
              <h5 style="color: blue;">Address</h5>
                <hr class="mt-0 mb-4">
              
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Street</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.Street">                
                    </div>  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">City</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.City">                      
                    </div>  
                  </div>              
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">State</label>
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="this.data.State">                
                    </div>  
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">  
                    <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Pincode</label>
                      <input type="text" class="form-control form-control-lg"[(ngModel)]="this.data.Pincode">                      
                    </div>  
                  </div>              
                </div>
              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg" type="submit"  (click)="updateData(this.data._id)">Submit</button>&nbsp;
                <button class="btn btn-danger btn-lg" type="submit"  routerLink="/profile">Cancel</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
