<br>
<br>
<br>
<br>
<!-- <header class="cont-slider">
    <section class="slider">
      <article class="slide one"></article>
      <article class="slide two"></article>
      <article class="slide three"></article>
      <article class="slide four"></article>
      <article class="slide five"></article>
    </section>
</header> -->


<body style="background-color: rgba(0, 0, 0, 0.12);">
<div class="container" align="center" >
<h1>Marbels for you!!!</h1>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" routerLink="/item">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfH2IuM7W1ThWNSJqE80PVqBXItJphHkGdFg&usqp=CAU" style="height:200px; width: 500px;border-radius:5px" class="d-block w-100" alt="...">
     
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7miLo0ehi9YHBDQv-8J7MBiCC_I3HlLjw8Wcp4yDcE_qN-PNZ3nJvD2vVysxjU7z750c&usqp=CAU"style="height:200px; width: 500px; border-radius: 5px"  class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrpjfE8SWj1uWt4HQSANrRCgdbsxIpofOGIA&usqp=CAU" style="height:200px; width: 500px;border-radius: 5px" class="d-block w-100" alt="...">
     
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<div class="container" align="center">
  <h1>Newly Arrived</h1>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" routerLink="/products">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfA1i_-KOZqAe7NY5A4fKO3wCTIlHL6_TmUw&usqp=CAU" style="height:200px; width: 500px; border-radius: 5px" class="d-block w-100" alt="...">
       
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS7JD3gQc0fqiRzqry1YUqYlMbXXIce3uZjg&usqp=CAU"style="height:200px; width: 500px;border-radius: 5px"  class="d-block w-100" alt="...">
       
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjhC4PpsZBt1ysALjbSjn8ZIBBf4geGSLQGH9EbDn9CmnejUdZUskC-5zOeEKgOQ93-9o&usqp=CAU" style="height:200px; width: 500px;border-radius: 5px" class="d-block w-100" alt="...">
      
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>

  <div class="container" align="center">
    <h1>You may like</h1>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" routerLink="/products">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg5mUY6EH9eD-x_qNtIHptc4qOHdXm7lwaIQ&usqp=CAU" style="height:200px; width: 500px;border-radius: 5px" class="d-block w-100" alt="...">
         
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6bqHbOwnmBRZRSngUGcVFgIq18LIix5OLHQ&usqp=CAU"style="height:200px; width: 500px;border-radius: 5px"  class="d-block w-100" alt="...">
         
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQBsCwfeTgJcIkL5yLRUmPHqb1voB-UhqwgA&usqp=CAU" style="height:200px; width: 500px;border-radius: 5px" class="d-block w-100" alt="...">
        
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<br>
    <div class="container" align="center">
      <h1>Premium Tiles</h1>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" routerLink="/products">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcanEdocAa7AVLBjM4H1d0W844dEgY3dRtkQ&usqp=CAU" style="height:200px; width: 500px; border-radius: 5px" class="d-block w-100" alt="...">
           
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNebZ8ShcRRMRJ8q4__QgDagOgQ40qlp0X8w&usqp=CAU"style="height:200px; width: 500px;border-radius: 5px"  class="d-block w-100" alt="...">
           
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcpA4eppC0FAIdYKXyXlVzC4ef2Ik4a-5MrKkxgMrJftM-KaBDSZbpkh6l4IjiGJmfZYY&usqp=CAU" style="height:200px; width: 500px;border-radius: 5px" class="d-block w-100" alt="...">
          
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </body>